<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Sport course {% endblock %} </title>
    <style> {% block style %} {% endblock %} </style>
</head>
<body>
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">Profile</a>
    {% endif %}

    <a href="{% url 'classes' %}">Classes</a>

    <a href="{% url 'sport_groups' %}">Sport groups</a>

    {% if user.is_staff %}
        <a href="{% url 'admin:index' %}">Admin menu</a>
    {% endif %}

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>