{% extends 'base.html' %}

{% block title %} Schedule of classes {% endblock %}

{% block style %}
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 15px;
    }
{% endblock %}

{% block content %}
    <h2>Schedule of classes</h2>
    <table style="width:100%">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Group</th>
        </tr>
        {% for class in classes %}
        <tr>
            <th>{{class.str_date}}</th>
            <th>{{class.str_time}}</th>
            <th><a href="{% url 'sport_group' class.group.id%}"> {{class.group}} </a></th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}