<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 15px;
        }
    </style>
</head>
<body>
    <h1>Groups</h1>
    <table style="width:100%">
        <tr>
            <th>Group</th>
            <th>Description</th>
        </tr>
        {% for group in groups %}
        <tr>
            <th><a href="{% url 'sport_group' group.id%}"> {{group}} </a></th>
            <th>{{group.description}}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>