{% extends 'base.html' %}

{% block title %} Groups {% endblock %}

{% block style %}
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 15px;
    }
{% endblock %}

{% block content %}
    <h2>Groups</h2>
    <table style="width:100%">
        <tr>
            <th>Group</th>
            <th>Description</th>
        </tr>
        {% for group in groups %}
        <tr>
            <th><a href="{% url 'sport_group' group.id%}"> {{group}} </a></th>
            <th>{{group.description}}</th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}